@font-face{
  font-family: "Aquawax";
  src: url("Fonts/aquawax/Aquawax Medium Trial.ttf");
}

@font-face{
  font-family: "Familiar";
  src: url("Fonts/familiar/Familiar Pro-Bold.otf");
}

header
{
	display: flex;
	justify-content: center;
}

body
{
	display: block;
	width: 1280px;
	margin: auto;
}	

a:hover
{
   font-weight: bold;
}

a
{
	text-decoration: none; color: white;
}


#menu
{
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 1280px;
	height: 45px;
	background: linear-gradient(#062152, 60%, white);
	font-size: 1.5em;
	font-family: Aquawax;
	text-shadow: 2px 2px 2px black;
    color: white;
}

h1
{
	text-align: center;
	font-family: Familiar;
	font-size: 2.3em;
	color: #EC6F27;
	text-shadow: 2px 2px 2px black;
}

h2
{
    text-align: center;
	color: white;
	font-size: 2em;
	text-shadow: 2px 2px 2px black;
}

.element
{
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.corps
{
	display: flex;
	flex-direction: column;
}

.bloc_statique
{
	background-image: url("images/degrade-bleu.jpg");
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	text-align: justify;
	align-items: center;
	height:500px;
}

.statique
{
	margin-left: 25px;
	margin-right: 25px;
	text-indent: 30px;
}

.photo1 div img
{
	box-shadow: 5px 0 5px -5px #333;
	margin-right: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo1 div:hover img
{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}


.bloc_dynamique
{
	background-image: url("images/degrade-bleu.jpg");
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	text-align: justify;
	align-items: center;
	height:500px;
}

.dynamique
{
	margin-left: 25px;
	margin-right: 25px;
	text-indent: 30px;
}

.photo2 div img
{
	box-shadow: 5px 0 5px -5px #333;
	margin-left: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo2 div:hover img
{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.bloc_dynamique_sans
{
	background-image: url("images/degrade-bleu.jpg");
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	text-align: justify;
	align-items: center;
	height:500px;
}

.dynamique_sans
{
	margin-left: 25px;
	margin-right: 25px;
	text-indent: 30px;
}

.photo3 div img
{
	box-shadow: 5px 0 5px -5px #333;
	margin-right: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo3 div:hover img
{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.bloc_immersion
{
    background-image: url("images/degrade-bleu.jpg");
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	text-align: justify;
	align-items: center;
	height:500px;
}

.immersion_libre
{
	margin-left: 25px;
	margin-right: 25px;
	text-indent: 30px;
}

.photo4 div img
{
	box-shadow: 5px 0 5px -5px #333;
	margin-left: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo4 div:hover img
{
    -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.bloc_poidsconstant
{
	background-image: url("images/degrade-bleu.jpg");
	border-radius: 10px;
	display: flex;
	flex-direction: row-reverse;
	text-align: justify;
	align-items: center;
}	

.poids_constant
{
	margin-left: 0px;
	margin-right: 25px;
	padding-left: 20px;
	padding-right: 20px;
	text-indent: 30px;
}

.photo5 div img
{
	box-shadow: 5px 0 5px -5px #333;
	margin-right: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo5 div:hover img
{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.bloc_poidsvariable
{
	background-image: url("images/degrade-bleu.jpg");
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	text-align: justify;
	align-items: center;
	height:500px;
}

.poids_variable
{
	margin-left: 25px;
	margin-right: 25px;
	text-indent: 30px;
}

.photo6 div img
{
	box-shadow: 5px 0 5px -5px #333;
	margin-left: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.photo6 div:hover img
{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

footer
{
	display: flex;
	justify-content: center;
	background: linear-gradient(white, 40%, #062152);
	color: white;
	text-shadow: 2px 2px 2px black;
}
